@use "variables" as *;
@use "mixins" as *;

@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// @font-face {
//   font-family: icons;
//   src: url("icons.ttf");
// }

:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: $bggrey;
  font-family: Roboto, sans-serif;
  * {
    line-height: calc(2px + 2ex + 2px);
  }
  .figuur1 {
    background-color: #56e39f;
  }

  /* alle kleuren voor dit vlak: #56E39F  #59C9A5  #5B6C5D  #27476E*/
  .figuur2 {
    background-color: #f1d302;
  }
  .figuur2 > div:nth-child(1) {
    background-color: #56e39f;
  }
  .figuur2 > div:nth-child(2) {
    background-color: #c1292e;
  }
  .figuur2 > div:nth-child(3) {
    background-color: #235789;
  }
  .figuur2 > div:nth-child(4) {
    background-color: #f0a202;
  }
  /* alle kleuren voor dit vlak: #F1D302  #C1292E  #235789  #F0A202 */
  .figuur3 {
    background-color: #b3001b;
  }
  .figuur3 > div:nth-child(1) {
    background-color: #b3001b;
  }
  .figuur3 > div:nth-child(2) {
    background-color: #f4e04d;
  }
  .figuur3 > div:nth-child(3) {
    background-color: #54f2f2;
  }
  .figuur3 > div:nth-child(4) {
    background-color: #5eb1bf;
  }
  /* alle kleuren voor dit vlak: #B3001B  #F4E04D  #54F2F2  #5EB1BF */
  .figuur4 {
    background-color: #ff715b;
  }
  .figuur4 > div:nth-child(1) {
    background-color: #ff715b;
  }
  .figuur4 > div:nth-child(2) {
    background-color: #30332e;
  }
  .figuur4 > div:nth-child(3) {
    background-color: #62bbc1;
  }
  .figuur4 > div:nth-child(4) {
    background-color: #ec058e;
  }
  /* alle kleuren voor dit vlak: #FF715B  #30332E  #62BBC1  #EC058E */
}

body {
  line-height: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

header nav a {
  display: none;
  text-decoration: none;
  color: $black;
}

/* Style for the 'Menu' link with the class 'mobiel' */
header nav a.mobiel {
  display: inline-block; /* or display: block; depending on your layout */
  /* Add any additional styling for the 'Menu' link */
}

main {
  padding: 2.5rem 1rem 2.5rem 1rem;
}

.billboard {
  background-image: url(images/achtergrond-nacht.png);
  background-size: cover;
  background-position: absolute;
  color: $white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  // padding-left: 1rem;
  // padding-right: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.billboard p {
  font-size: 1.8;
  font-style: italic;
}

main div {
  margin-bottom: 2rem;
}

.hoofding p {
  font-style: italic;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

main section p {
  margin-bottom: 2rem;
}

input[type="submit"] {
  background-color: $black;
  color: $white;
  border-radius: 5px;
}

.figuur1 {
  display: grid;
  width: 50vh;
  height: 50vh;
}

.figuur1,
.figuur2,
.figuur3,
.figuur4 {
  height: 250px;
  width: 100%;
}

section h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

footer {
  display: grid;
  background-color: $black;
  color: $white;
  text-align: center;
}

.logo {
  font-size: 2rem;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li a {
  text-decoration: none;
  color: $white;
}

@media screen and (min-width: 900px) {
  body {
    background-color: lightblue;
  }

  // main {
  //   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  //   display: grid;
  // }

  // .billboard,
  // .overons {
  //   grid-column-start: 1;
  //   grid-column-end: 6;
  // }

  // main .section {
  //   grid-column-start: 1;
  //   grid-column-end: 6;
  // }

  .overons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .overons .hoofding {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .watwedoe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .sectie1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .figuur1,
  .figuur2,
  .figuur3,
  .figuur4 {
    height: 100px;
    width: 100px;
  }

  .figuur1 > div:nth-child(1) {
    background-color: #56e39f;
  }
  .figuur1 > div:nth-child(2) {
    background-color: #59c9a5;
  }
  .figuur1 > div:nth-child(3) {
    background-color: #5b6c5d;
  }
  .figuur1 > div:nth-child(4) {
    background-color: #27476e;
  }
}
